[color]
  ui = true
[user]
  name = Kenneth Lu
  email = kennethlu@asana.com
[core]
  excludesfile = ~/.gitignore_global
  editor = sublime -w
  ignorecase = false
[alias]
  rbm = rebase next-master
  rim = rebase -i next-master
  st = status
  br = branch
  co = checkout
  com = checkout next-master
  cob = checkout -b
  ci = commit
  cm = commit -m
  ca = commit --amend
  pushf = push --force-with-lease
  di = diff
  dim = diff next-master
  dh = diff HEAD~1
  ds = diff --staged
  discard = checkout --
  unstage = reset HEAD --
  lg = log next-master..HEAD -15 --pretty=format:'%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s'
  la = log -15 --pretty=format:'%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s'
  la2 = log --pretty=format:'%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s %C(cyan)(%cr by %cN)%C(reset)'
  ios = !$IOS/scripts/git-ios
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	repo = /Users/kennethlu/sandbox/asana
[commit]
	gpgsign = true
[status]
	showStash = true
[diff]
	colormovedws = allow-indentation-change
