[color]
  ui = true
[user]
  name = Kenneth Lu
  email = lu.yang.kenneth@gmail.com
[core]
  excludesfile = /Users/kly/.gitignore_global
  editor = sublime -w
[alias]
  fm = fetch origin master:master
  st = status
  br = branch
  co = checkout
  cob = checkout -b
  ci = commit
  cm = commit -m
  pushf = push --force-with-lease
  di = diff
  dh = diff HEAD~1
  ds = diff --staged
  unstage = reset HEAD --
  lg = log -8 --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %C(yellow)%d%C(reset) %s'
  la = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %C(yellow)%d%C(reset) %s'
  la2 = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %C(yellow)%d%C(reset) %s %C(cyan)(%cr)%C(reset)'
[push]
  default = current
